<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/header :: header"></head>
<body>
<div th:insert="/fragments/navbar :: nav"></div>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">Welcome to Couch Bank</div>
<div class="p-3 mb-2 bg-secondary text-white login-container">
    <br>
    <div class="container">
        <div th:if="${message!= null}">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><span th:text="${message}"></span></strong>
            </div>
        </div>

        <form action="#" th:action="@{overview}" th:object="${user}" method="post" class="col-sm-4 login-form">
            <h2>Login</h2>
            <div class="form-group">
                <label for="userName">Username:</label>
                <input class="form-control" type="text" id="userName" name="userName" th:field="*{userName}"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" th:field="*{userPassword}" id="password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light">Confirm</button>
            </div>
        </form>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Client</h5>
            <p class="text-muted"><a href="newUser">Make new account</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Retail Clients</h5>
            <p class="text-muted"><a href="retail-login">Login</a></p>
        </div>
    </div>
</div>
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>
