<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/header :: header"></head>
<body>
<nav th:include="/fragments/navbar :: nav"></nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">New Client Account Form</div>
<div class="p-3 mb-2 bg-secondary text-white">
    <div class="container">
        <h2>Please fill in your details below. Fields with * are mandatory.</h2>
        <form action="#" th:action="@{newRetailUser}" th:object="${retailUser}" method="post">
            <div class="form-group">
                <label for="userName">Choose username: *</label>
                <input type="text" name="userName" id="userName" class="form-control" required th:field="*{userName}">
                <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"> Username invalid.</p>
            </div>

            <div class="form-group">
                <label for="userPassword">Password: *</label>
                <input type="text" name="userPassword" id="userPassword" required class="form-control" th:field="*{userPassword}">
                <p th:if="${#fields.hasErrors('userPassword')}">Password invalid.</p>
            </div>

            <div class="form-group">
                <label for="BSN">BSN: *</label>
                <input type="text" id="BSN" name="bsn" class="form-control" required th:field="*{bsn}" minlength="8" maxlength="9">
                <p th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}">Bsn invalid.</p>
            </div>

            <div class="row">
                <div class="col">
                    <label for="firstName">First Name: *</label>
                    <input type="text" name="firstName" id="firstName" required class="form-control" th:field="*{firstName}">
                    <p th:if="${#fields.hasErrors('firstName')}">Name invalid.</p>
                </div>

                <div class="col">
                    <label for="middleName">Middle Name:</label>
                    <input type="text" name="middleName" id="middleName" class="form-control" th:field="*{middleName}">
                    <p th:if="${#fields.hasErrors('middleName')}">Name invalid.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Surname: *</label>
                <input type="text" name="lastName" id="lastName" required class="form-control" th:field="*{lastName}">
                <p th:if="${#fields.hasErrors('lastName')}">Name invalid.</p>
            </div>

            <div class="form-group">
                <label for="Street">Street: *</label>
                <input type="text" name="streetName" id="Street" required class="form-control" th:field="*{address.streetName}" maxlength="30" >
                <p th:if="${#fields.hasErrors('address.streetName')}">Streetname invalid.</p>
            </div>

            <div class="row">
                <div class="col">
                    <label for="streetNumber">Street Number: *</label>
                    <input type="number" name="streetNumber" id="streetNumber" min ="0" required class="form-control"  placeholder="street number" th:field="*{address.streetNumber}"/>
                    <p th:if="${#fields.hasErrors('address.streetNumber')}">Street Number invalid.</p>
                </div>
                <div class="col">
                    <label for="extension">Apartment Number: </label>
                    <input type="text" name="extension" id="extension" class="form-control" th:field="*{address.extension}"/>
                    <p th:if="${#fields.hasErrors('address.extension')}">Apartment Number invalid.</p>
                </div>
                <div class="col">
                    <label for="zipcode">Postcode: *</label>
                    <input type="text" name="zipcode" id="zipcode" class="form-control" required th:field="*{address.zipcode}" pattern="[1-9][0-9]{3}[ ]?([a-z]|[A-Z]){2}"/>
                    <p th:if="${#fields.hasErrors('address.zipcode')}">Postcode invalid.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="city">City: *</label>
                <input type="text" name="city" id="city" class="form-control" required th:field="*{address.city}">
                <p th:if="${#fields.hasErrors('address.city')}">City invalid.</p>
            </div>

            <div class="form-group">
                <label for="country">Country: *</label>
                <input type="text" name="country" id="country" class="form-control" required th:field="*{address.country}">
                <p th:if="${#fields.hasErrors('address.country')}">Country invalid.</p>
            </div>

            <div class="form-group">
                <label for="tel">Phonenumber: *</label>
                <input type="text" name="tel" id="tel" class="form-control" required th:field="*{phoneNumber}" minlength="9" maxlength="11">
                <p th:if="${#fields.hasErrors('phoneNumber')}">Tel invalid.</p>
            </div>

            <div class="form-group">
                <label for="email">Email: *</label>
                <input type="email" name="tel" id="email" class="form-control" required th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}">Email invalid.</p>
            </div>

            <div class="form-group">
                <label for="dateOfBirth">Date of Birth (mm-dd-yyyy): *</label>
                <input type="text" name="dateOfBirth" id="dateOfBirth" class="form-control" required th:field="*{dateOfBirth}" min="date.today">
                <p th:if="${#fields.hasErrors('dateOfBirth')}">Date of Birth invalid.</p>
            </div>

            <button name="submit" type="submit" value="0">Confirm</button>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>
<footer th:include="/fragments/footer :: footer"></footer>
</body>
</html>