<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/header :: header"></head>
<body>
<nav th:include="/fragments/navbar :: nav"></nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">Welkom nieuwe klant <span th:text="${retailUserFullName}"></span></div>
<div class="p-3 mb-2 bg-secondary text-white">
    <br>
    <h3>Congrats! Your company has been successfully registered as our new client.
        Click <a href="/">here</a> to go to your login screen.</h3>
</div>
<footer th:include="/fragments/footer :: footer"></footer>
</body>
</html>