<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head th:insert="/fragments/header :: header"></head>
<body>
<div th:insert="/fragments/navbar :: nav"></div>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">Welcome <span th:text="${smeUser.firstName}"></span> <span
        th:text="${smeUser.lastName}"></span>
</div>
    <div class="p-3 mb-2 bg-secondary text-white"><h1>Business Page</h1>
    </div>
<div class="container">
    <br>
    <span th:text="${company.companyName}"></span><span th:text="${companyLegalEntity}"></span></h2>
    <h2>Chamber Of Commerce Number: <span
            th:text="${company.chamberOfCommerceId}"></span></h2>
    <div th:if="${message!= null}">
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${message}"></span></strong>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(allBankAccounts)}">
        <table class="table" title="Overzicht">
            <thead title="Rekeningen">
            <tr>
                <th>Bank Account(IBAN)</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankAccount: ${allBankAccounts}">
                <td><a th:href="@{companyAccountDetails(id=${bankAccount.bankAccountId})}"
                       th:text="${bankAccount.iBAN}"></a></td>
                <td><span th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}"></span></td>
                <td><a class="btn btn-info" role="button"
                       th:href="@{companyAccountDetails(id=${bankAccount.bankAccountId})}">Account Details</a></td>
                <td><a th:href="@{transactionRequest(id=${bankAccount.bankAccountId})}"
                       class="btn btn-info" role="button"> Make a transaction</a></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" role="button" th:href="@{newCompanyAccountRequest}">Open New Account</a>
        <br>
        <br>
    </div>
    <div th:if="${feedback!= null}">
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${feedback}"></span></strong>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(employees)}">
        <h4>Employees</h4>
        <table class="table table-hover">
            <thead title="Medewerkers">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="smeUser: ${employees}">
                <td><span th:text="${smeUser.firstName}"></span></td>
                <td><span th:text="${smeUser.middleName}"></span></td>
                <td><span th:text="${smeUser.lastName}"></span></td>
                <td><span th:text="${smeUser.roleEmployee}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="#" th:action="@{newEmployeeRequest}" method="post">
        <p>Add employee:</p>
        <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="newbsn">Bsn:</label>
                <input type="number" name="newbsn" id="newbsn" class="form-control" th:object="${newbsn}" minlength="8" maxlength="9"
                       placeholder="bsn number" min="10000000" max="999999999" required>
            </div>
            <div class="col">
                <label for="newrole">Role:</label>
                <select id="newrole" name="newrole" class="form-control"  th:object="${newrole}" required>
                    <option value="">--Choose--</option>
                    <option th:each="newrole: ${roles}" th:value="${newrole}" class="form-control" th:utext="${newrole}"></option>
                </select>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
        </div>
    </form>
    <br>
</div>
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>

